@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');

*{
	font-family: 'Roboto', sans-serif;
	margin: 1;
	padding: 0;
}


/* clases de fondos */
#botonera img{
    width: 80px;
	

}
.bg-blue{
	background-color: rgba(11, 180, 241, 0.219);
}
.bg-text-cards{
    color: rgb(10, 137, 65);
}
.bg-text-blue{
    color: rgb(51, 121, 213);
    text-align: center;
    }
.bg-text-blue-foot{
    color: rgb(51, 121, 213);
    text-align: center;
    background-color: rgba(11, 180, 241, 0.219);
}
.headerlive{

    width: 65%;
    image-rendering: auto;
}
.bg-text-footer{
    color: rgb(51, 121, 213);
    text-align: center;
}
#botoneraredes img{
    width: 50px;

}

.form-register {
	width: 390px;
	background-image: url(../img/Fondo.jpeg);
	background-attachment: initial;
	padding: 5px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 25px;
	border-radius: 4px;
	color: black;
}
.controls {
	width: 380px;
	background: whitesmoke;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
	border-color: aqua;
	border: 1px solid aqua;
	font-size: 18px;
}
.platform{
	width: 50%;
	background: whitesmoke;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border-color: aqua;
	border: 1px solid aqua;
	font-size: 18px;
}

.coment{
	width: 380px;
	padding: 1px;
	border-radius: 4px;
	margin-bottom: 16px;
	border-color: aqua;
	border: 1px solid aqua;
	font-size: 18px;
	display: inline-flexbox;
	
	
}
	.coment p {
	width: 350px;
	padding: 11px;
	border-radius: 4px;
	margin-bottom: 16px;
	border-color: aqua;
	font-size: 18px;
	
}
	.coment .textarea {
	width: 100%;
	height: 150px;
	padding: 1px;
	border-radius: 4px;
	margin-bottom: 1px;
	font-size: 18px;
	resize: none;
	}

input[type="checkbox"] + label {
    font-weight: bold;
    line-height: 3em;
    color: black;
	text-align: center;
}
input[type="checkbox"]:checked + label {
    color: aqua;
	text-align: center;
}

.button{
	display: flex;
	justify-content: space-around;
	
}
button {
	padding: 5px;
	margin: 10px;
	font: bold 18px sans-serif;
	border: 2px solid #333;
	border-radius: 5px;
	background-image: url(../img/Logo\ Argentina.png);
	background-attachment: fixed;
	cursor: pointer;
	transform: rotate(-1.5deg);

  	}
  
  	button:hover, button:focus {
	outline     : none;
	background  :aqua;
	color       : black;
    }
	
