
    .bg-text-footer{
        color: $keyColor;
        text-align: center;
    }
    img{
        width: 50px;
    }
    .bg-text-blue-foot{
        color: $keyColor;
        text-align: center;
        background-color: $BackgroundColor;
    }
