//nesting
#botonera img{
    width: 70px;
}
.bg-blue{
	background-color: $BackgroundColor;
}
.bg-text-cards{
    color: $secondaryColor;
}
.bg-text-blue{
    color: $keyColor;
    text-align: center;
	font-family: $secondaryFont;
}
.headerlive{

    width: 65%;
    image-rendering: auto;
}

	

